.About {
  width: 100%;
  height: 35%;
  background-color: red;
}
.About-text {
  width: 20%;
  height: 10%;
  background-color: blue;
  margin-left: 10%;
}
.Border {
  width: 100%;
  height: 40%;
  background-color: green;

  .text-about {
    border-style: solid;
    width: 30%;
    height: 25%;
  }
}
.footer-about {
  width: 100%;
  height: 20%;
  background-color: black;
}
