.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  padding-left: 2%;
  padding-right: 2%;
  //   box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);

  .logo {
    width: 25%;
    height: 80%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 900;
  }

  .menu {
    width: 40%;
    display: flex;
    justify-content: space-evenly;

    ul {
      list-style-type: none;

      li {
        cursor: pointer;
      }
    }
  }

  .navbar-action {
    height: 80%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .icon-bars {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding-left: 3%;
    padding-right: 0%;
    background-color: darkblue;

    .logo {
      width: 20%;
      height: 80%;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: bolder;
    }

    .menu {
      width: 35%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      ul {
        list-style-type: none;

        li {
          text-align: center;
          cursor: pointer;
        }
      }
    }

    .navbar-action {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .icon-bars {
      display: none;
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(27, 27, 27);
    z-index: 1000;

    .logo {
      width: 70%;
      height: 80%;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 900;
    }

    .menu {
      display: none;
    }
    .navbar-action {
      display: none;
    }

    .icon-bars {
      width: 30%;
      height: 80%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  .mobile-menu {
    background-color: rgba(10, 10, 10, 0.904);
    position: fixed;
    width: 100%;
    z-index: 100;
    margin-top: 80px;
    padding: 10%;

    .menu {
      width: 70%;
      text-align: left;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-bottom: 40px;

        li {
          text-align: left;
          color: white;
          cursor: pointer;
          margin-top: 20px;
          font-size: large;
        }

        li:hover {
          color: blue;
          font-size: large;
          font-weight: bolder;
        }
      }
    }

    .navbar-action {
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;

      #nav-input {
        width: 330px;
      }
    }
  }
}
