.navbar {
  width:100%;
  height:60px;
  color: #FFEEEE;
  padding-left:5px;
  padding-right:5px;
  align-items: center;
  position: fixed;
  background-color: transparent;

  .logo {
    width: 20%;
    height: 100%;
    float:left;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 900;
  }

  .menu {
    width: 50%;
    margin:auto;
    height:100%;
    float:left;
    display: flex;
    
    ul {
      margin:auto;
      list-style-type: none;
      margin-right:25px;

      li {
        padding-left:25px;
        font-weight: 700;
        display:inline-block;
        cursor: pointer;
      }

      li:hover {
        color:dodgerblue;
        transition:0.3s;
      }
    }
  }

  .navbar-action {
    height: 100%;
    float:right;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .icon-bars {
    display: none;
  }

  .icon-search {
    display: none;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
  .navbar {
    width:100%;
    height:60px;
    color: #FFEEEE;
    padding: 0;
    align-items: center;
    position: fixed;
    background-color: transparent;
    box-shadow: 0 2px 2px  rgba(0, 0, 0, 0.2);

  
    .logo {
      width: 100%;
      position:absolute;
      float:none;
      justify-content: space-evenly;
    }

    .menu {
      display: none;
    }

    .mobile-menu {
      background-color: rgba(10, 10, 10, 0.904);
      position: fixed;
      width: 100%;
      text-align: left;
      z-index: 1;
      margin-top: 60px;
      transition: 0.5s;
      ul {
        margin: 0;
        padding: 0;

        li {
          width:100%;
          text-align: left;
          color: white;
          cursor: pointer;
          font-size: large;
          padding-left:20px;
          padding-bottom: 20px;
          padding-top: 20px;

        }

        li:hover {
          color: dodgerblue;
          font-size: medium;
          font-weight: bolder;
        }
      }
    }

    .mobile-search {
      background-color:white;
      position: fixed;
      width: 100%;
      height: 40px;
      text-align: left;
      z-index: 2;
      display: flex;
      margin-top: 60px;
      padding:5.5px;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

    }

    .navbar-action {
      height: 100%;
      float:right;
      width: 40%;
      display: none;
      align-items: center;
      justify-content: space-evenly;
    }
  
    .icon-bars {
      width: 12.5%;
      height: 100%;
      cursor: pointer;
      float:left;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;
    }

    .icon-bars:hover{
      color:black;
    }

    .icon-search {
      width: 12.5%;
      height: 100%;
      float:right;
      cursor: pointer;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;
    }

    .icon-search:hover {
      color:black;
    }
  }
}

// Small to Medium devices (landscape phones, 576px , and up)
@media (min-width: 576px) and (max-width: 1199.98px) {
  .container {
    max-width: 1199.98px;
    min-width: 576px;
  }
  
  .navbar {
    width:100%;
    height:60px;
    color: #FFEEEE;
    padding: 0;
    align-items: center;
    position: fixed;
    background-color: transparent;
    box-shadow: 0 2px 2px  rgba(0, 0, 0, 0.2);

  
    .logo {
      width: 100%;
      position:absolute;
      float:none;
      justify-content: space-evenly;
    }

    .menu {
      display: none;
    }

    .mobile-menu {
      background-color: rgba(10, 10, 10, 0.904);
      position: fixed;
      width: 100%;
      text-align: left;
      z-index: 1;
      margin-top: 60px;
      transition: 0.5s;
      ul {
        margin: 0;
        padding: 0;

        li {
          width:100%;
          text-align: left;
          color: white;
          cursor: pointer;
          font-size: large;
          padding-left:20px;
          padding-bottom: 20px;
          padding-top: 20px;

        }

        li:hover {
          color: dodgerblue;
          font-size: medium;
          font-weight: bolder;
        }
      }
    }

    .mobile-search {
      background-color:white;
      position: fixed;
      width: 100%;
      height: 40px;
      text-align: left;
      z-index: 2;
      display: flex;
      margin-top: 60px;
      padding:5.5px;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

    }

    .navbar-action {
      height: 100%;
      float:right;
      width: 40%;
      display: none;
      align-items: center;
      justify-content: space-evenly;
    }
  
    .icon-bars {
      width: 12.5%;
      height: 100%;
      cursor: pointer;
      float:left;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;
    }

    .icon-bars:hover{
      color:black;
    }

    .icon-search {
      width: 10%;
      height: 100%;
      float:right;
      cursor: pointer;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;
    }

    .icon-search:hover {
      color:black;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .container {
    max-width: 1200px;
  }
}

