.navbar {
  width: 100%;
  height: 60px;
  z-index: 9999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #FFEEEE;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: transparent;
}

.navbar .logo {
  width: 20%;
  height: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
}

.navbar .menu {
  width: 50%;
  margin: auto;
  height: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .menu ul {
  margin: auto;
  list-style-type: none;
  margin-right: 25px;
}

.navbar .menu ul li {
  padding-left: 25px;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
}

.navbar .menu ul li:hover {
  color: dodgerblue;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-action {
  height: 100%;
  float: right;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar .icon-bars {
  display: none;
}

.navbar .icon-search {
  display: none;
}

@media (max-width: 575.98px) {
  .navbar {
    width: 100%;
    height: 60px;
    color: #FFEEEE;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    background-color: transparent;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  .navbar .logo {
    width: 100%;
    position: absolute;
    float: none;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navbar .menu {
    display: none;
  }
  .navbar .mobile-menu {
    background-color: rgba(10, 10, 10, 0.904);
    position: fixed;
    width: 100%;
    text-align: left;
    z-index: 1;
    margin-top: 60px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navbar .mobile-menu ul {
    margin: 0;
    padding: 0;
  }
  .navbar .mobile-menu ul li {
    width: 100%;
    text-align: left;
    color: white;
    cursor: pointer;
    font-size: large;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .navbar .mobile-menu ul li:hover {
    color: dodgerblue;
    font-size: medium;
    font-weight: bolder;
  }
  .navbar .mobile-search {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 40px;
    text-align: left;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
    padding: 5.5px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  .navbar .navbar-action {
    height: 100%;
    float: right;
    width: 40%;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navbar .icon-bars {
    width: 12.5%;
    height: 100%;
    cursor: pointer;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navbar .icon-bars:hover {
    color: black;
  }
  .navbar .icon-search {
    width: 12.5%;
    height: 100%;
    float: right;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navbar .icon-search:hover {
    color: black;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .container {
    max-width: 1199.98px;
    min-width: 576px;
  }
  .navbar {
    width: 100%;
    height: 60px;
    color: #FFEEEE;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    background-color: transparent;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  .navbar .logo {
    width: 100%;
    position: absolute;
    float: none;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navbar .menu {
    display: none;
  }
  .navbar .mobile-menu {
    background-color: rgba(10, 10, 10, 0.904);
    position: fixed;
    width: 100%;
    text-align: left;
    z-index: 1;
    margin-top: 60px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navbar .mobile-menu ul {
    margin: 0;
    padding: 0;
  }
  .navbar .mobile-menu ul li {
    width: 100%;
    text-align: left;
    color: white;
    cursor: pointer;
    font-size: large;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .navbar .mobile-menu ul li:hover {
    color: dodgerblue;
    font-size: medium;
    font-weight: bolder;
  }
  .navbar .mobile-search {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 40px;
    text-align: left;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
    padding: 5.5px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  .navbar .navbar-action {
    height: 100%;
    float: right;
    width: 40%;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navbar .icon-bars {
    width: 12.5%;
    height: 100%;
    cursor: pointer;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navbar .icon-bars:hover {
    color: black;
  }
  .navbar .icon-search {
    width: 10%;
    height: 100%;
    float: right;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navbar .icon-search:hover {
    color: black;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/*# sourceMappingURL=navbar.css.map */