.App {
  width: 100%;
  min-height: 120vh;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: dodgerblue;
  // margin-top: -20px;
  // overflow: hidden;
}

.container {
  padding-top: 120px;
  padding-left: 20px;
}

.hidden {
  display: none;
}
