@import './asset/font/index';
h1, h2 {
  font-family: "Skranji", sans-serif;
}

h3 {
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: "Suez One", serif;
}

.App {
  width: 100%;
  min-height: 200vh;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: dodgerblue;
  position:absolute;

  // overflow: hidden;
}

.content {
  // border: 1px solid red;
  height:100vh;
}

.container {
  // border: 1px solid green;
  height: 100%;
  margin:auto;
  padding-left: 0;
  padding-right: 0;
}

.hidden {
  display: none;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
  .container {
    max-width: 575.98px;
  }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
  .container {
    max-width: 576px;
    min-width: 767.98px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 991.98px;
    min-width: 768px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .container {
    max-width: 1199.98px;
    min-width: 992px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .container {
    max-width: 1200px;
  }
}